<% if flash[:notice] %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-md mb-6 relative" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      </div>
      <div class="ml-3">
        <p class="text-sm"><%= flash[:notice] %></p>
      </div>
    </div>
    <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-4 mr-4 text-green-500 hover:text-green-700">
      <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-md mb-6 relative" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      </div>
      <div class="ml-3">
        <p class="text-sm"><%= flash[:alert] %></p>
      </div>
    </div>
    <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-4 mr-4 text-red-500 hover:text-red-700">
      <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </button>
  </div>
<% end %>